body {
    background-color: #fff6f6;
    margin: 0 !important;
    padding: 0 !important;
}
h1 {
    text-align: center;
}
h4 {
    font-size: 16px;
    font-weight: 700;
}
header {
    padding: 20px 0 0 0;
    background: white;
    text-align: center;
}
@media (min-width: 750px) {
    header {
        text-align: left;
    }
}
.remove {
    background-color: red;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 9px;
}
.remove:hover {
  cursor: pointer;
}

ul {
    list-style: none;
}
#hero {
    background-image:url(../img/hero.jpg);
    height: 350px;
    background-size: cover;
}
#heading {
    margin: 30px 0;
}
.submenu {
    position: relative;
}

.submenu #shopping-cart{
    display: none;
    height: 400px;
    overflow-y: scroll;
    scrollbar-width: 1px;
    border: 2px solid black;
}
.submenu:hover #shopping-cart{
    display: block;
    position: absolute;
    right:0;
    top:100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}
#cart-content {
  max-width: 100%;
  overflow: scroll;
}

.hero-content {
    margin-top: 80px;
    color: white;
}
.hero-content form {
    position: relative;
    margin-bottom: 0;
}
.hero-content form #search-course {
    height: 50px;
    margin-bottom: 0;
}
.hero-content form .submit-search-course {
    position: absolute;
    right:0;
    top:0;
    height: 100%;
    padding: 0;
    display: block;
    text-indent: -9999px;
    width: 50px;
    background-image: url(../img/mglass.png);
    background-position: right center;
    background-repeat: no-repeat;
    border:none;
}


.main-bar {
    padding: 20px 0;
   background: #741d51; /* Old browsers */
   background: -moz-linear-gradient(left, #741d51 0%, #e44e52 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(left, #741d51 0%,#e44e52 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to right, #741d51 0%,#e44e52 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#741d51', endColorstr='#e44e52',GradientType=1 ); /* IE6-9 */
}

.main-bar p {
    margin:0;
    color: white;
}
.icon {
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 60px;
    background-size: 30px;
    margin-bottom: 40px;
    text-align: center;
}
@media (min-width: 750px) {
    .icon {
        margin-bottom:0;
    }
}



.icon1 {
    background-image: url(../img/icon1.png);
}
.icon2 {
    background-image: url(../img/icon2.png);
}
.icon3 {
    background-image: url(../img/icon3.png);
}

#courses-list .row {
    margin-bottom:20px;
}
.add-to-cart {
    margin:10px 0;
}
.card {
    text-align: center;
    border: 1px solid #e1e1e1;
    background: white;
}
@media (min-width: 550px) {
    .card {
        text-align: left;
    }
}
.info-card  {
    padding: 10px 20px;
}
.info-card p,
.card h4 {
    margin-bottom: 5px;
}
.footer {
    margin-top: 40px;
    border-top:1px solid #aaa;;
    padding-top: 40px;
}
.footer .menu a{
display: block;
margin-bottom: 10px;
text-decoration: none;
}
.total-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#total {
    position: absolute;
    top: -16px;
    right: -10px;
    color: white;
    width: 10px;
    height: 10px;
    padding: 10px;
    font-size: 9px;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
}
.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    padding: auto 40px ;
    top: 0;
  }

  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    /* overflow: hidden; */
    background-color: #fff;
  }

  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }

  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }

  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }

  /* menu */

  .header .menu {
    clear: both;
    display: block;
    background-color: white;
    transition: max-height .2s ease-out;
  }

  /* menu icon */

  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }

  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }

  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }

  .header .menu-icon .navicon:before {
    top: 5px;
  }

  .header .menu-icon .navicon:after {
    top: -5px;
  }

  /* menu btn */

  .header .menu-btn {
    display: none;
  }

  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }

  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  /* 48em = 768px */

  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-start {
  display: flex;
    align-items: start;
    justify-content: start;
}
.flex-between {
  display: flex;
    align-items: center;
    justify-content: space-between;
}
input.error {
  border: 1px solid red;
}
.errorMessage {
  display: none;
  color: red;
  font-size: 11px;
}
#notemptycart {
  display: none;
}

.form{
	padding: 50px;
  padding-top: 10px;
	max-width: 1000px;
	margin:  0 auto;
  max-width: 500px;
	overflow: hidden;
}
.form input[type="text"],
.form input[type="email"],
.form input[type="tel"],
.form textarea,
.form select{
	border: 1px solid #000;
	padding: 15px;
	font-size: 16px;
	line-height: 20px;
	height: 50px;
	width: 100%;
	display: block;
	margin: 0;
}
.form textarea{
	height: 150px;
	resize: none;
}
.form input[type="submit"]{
	border: 1px solid #000;
	padding: 15px;
	font-size: 16px;
	line-height: 20px;
	height: 50px;
	width: 150px;
	display: block;
	margin: 0;
	cursor: pointer;
	color: #000;
	transition: all 0.3s ease
}
.form input[type="submit"]:hover{
	background: #000;
	color: #fff;
}
.form .input-holder{
	margin-bottom: 15px;
}
.form .err-txt{display: none;padding:10px 5px;margin-bottom: 15px;color:#f20;}
.form .input-holder.error{border-color:#f20;}
.form .input-holder.error .err-txt{display: block}
.img-responsive {
  width: 100%;
}
.content {
    margin-top: 120px;
}
.img-100 {
  width: 100px;
}
@media screen and (max-width: 660px) {
  .header .menu {
    display: none;
  }
  .flex-center, .flex-start, .flex-between {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
  }
  .img-100 {
    width: 40px;
  }
  .submenu:hover #shopping-cart{
    max-width: 88% !important;
  }
  .sm-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sm-flex-center {
    display: flex !important;
    align-items: center  !important;
    justify-content: center  !important;
    flex-direction: row !important;
  }
  .sm-flex-start {
    display: flex !important;
    align-items: start  !important;
    justify-content: start  !important;
    flex-direction: row !important;
  }
}
.rounded {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #333;
  color: white;
  font-size: 8px;
  margin: 0 10px;
}
.cursor-pointer:hover {
  cursor: pointer;
}
.product {
  max-width: 1140px;
  margin: 150px auto;
  padding: 20px;
}
.product-img {
  position: relative;
}
.gap-20 {
  gap: 20px;
}
.product-img .tag {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: green;
  color: white;
  padding: 8px 35px;
}
.text-30-bold {
  font-size: 30px;
  font-weight: bold;
}